*,
*:before,
*:after {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: #aaa8a8;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

html {
	font-family: sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #000000;
}

body {
	margin: 0;
	background-color: #c2b9b9;
	height: 100vh;
}

button {
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

button,
input,
textarea,
select {
	font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	margin: 0;
}

p {
	margin: 0;
}

.link-primary {
	color: #008cf0;
	text-decoration: none;
}

.link-primary:hover {
	color: #f36223;
}

.link-primary:active {
	color: #a93a09;
}

.btn {
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid #888888;
}

.btn:hover {
	background-color: #da4a0c;
}

.btn:active {
	background-color: #a93a09;
}

input,
textarea {
	outline: none;
}
